.key-component {
  margin-bottom: 10px !important;
  width:100% !important;
  min-width: 50px !important;
  max-width: 88px !important;
}

.calculator {
	
	width: 100% !important;
  	max-width: 450px !important;
    min-width: 300px !important;
  	margin: auto !important;

}

.padding0 {
	padding : 0px !important;
}

.text-field {
	margin-top: 10px;
  	margin-bottom: 10px;
}

.text-field input{
	text-align:right;
}

.text-field label{
	right : 0px;
}